name: CI

on:
  push:
    branches: [ main, opt/perf-cleanup ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run linter
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Upload build as artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: site-build
          path: dist
